<div class="container">

<table class="table">
  <thead>
    <tr>
      <th>Posted By</th>
      <th>Thumbnail</th>
      <th>Title</th>
      <th>Genre</th>
      <th>Price</th>
      <th>Location</th>
      <th>Date Posted</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  

    <% @games.each do |game| %>
      <tr>
        <td><%= game.user.username %></td>
        <td><%= image_tag game.image.thumb.url if game.image?%></td>
        <td><%= game.title %></td>
        <td><%= game.genre %></td>
        <td>$<%= game.price %></td>
        <td><%= game.location %></td>
        <td><%= game.created_at.strftime("%d %b, %Y") %></td>
        
        <td><%= link_to '<button class="btn-default indexx">Show</button>'.html_safe, game %>
        <% if game.user == current_user %>
          </br>
          <%= link_to '<button class="btn-default indexx">Edit</button>'.html_safe, edit_game_path(game) %> </br>
          <%= link_to '<button class="btn-danger indexx">Delete</button>'.html_safe, game, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        <% else %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if @games.blank? %>
  <p>There is no games containing <%= params[:search] %>.</p>
<% end %>

<%= link_to '<button class="btn-default">New Listing</button>'.html_safe, new_game_path %> </br>
</div>
