
<table>
  <thead>
    <tr>
      <th>Posted By</th>
      <th>Thumbnail</th>
      <th>Genre</th>
      <th>Price</th>
      <th>Title</th>
      <th>Location</th>
      <th>Date Posted</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

<%#= image_path game.image.url %>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.user.username %></td>
        <td><%= image_tag game.image.thumb.url if game.image? %></td>
        <td><%= game.genre %></td>
        <td>$ <%= game.price %></td>
        <td><%= game.title %></td>
        <td><%= game.location %></td>
        <td><%= game.created_at.strftime("%d %b, %Y") %></td>
        <td><%= link_to 'Show', game %></td>
        <% if game.user == current_user %>
          <td><%= link_to 'Edit', edit_game_path(game) %></td>
          <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if @games.blank? %>
  <p>There is no games containing <%= params[:search] %>.</p>
<% end %>

<%= link_to 'List your GAME', new_game_path %>
