
<table class="table">
  <thead>
    <tr>
      <th>Posted By</th>
      <th>Thumbnail</th>
      <th>Genre</th>
      <th>Price</th>
      <th>Title</th>
      <th>Location</th>
      <th>Date Posted</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

  <!-- experiment>
  -->
<%# <div class="row"> %>
  <div class="col-md-3">
        <div class="card">
            <img class="img-fluid" src="http://grafreez.com/wp-content/temp_demos/river/img/politics.jpg" alt="">
            <div class="card-img-overlay"> <span class="badge badge-pill badge-danger">News</span> </div>
            <div class="card-body">
            <div class="news-title">
              <h2 class=" title-small"><a href="#">Syria war: Why the battle for Aleppo matters</a></h2>
            </div>
            <p class="card-text"><small class="text-time"><em>3 mins ago</em></small></p>
        </div>
              
        <div class="card"> <img class="img-fluid" src="http://grafreez.com/wp-content/temp_demos/river/img/politics.jpg" alt="">
            <div class="card-img-overlay"> <span class="badge badge-pill badge-danger">News</span> </div>
            <div class="card-body">
                <div class="news-title">
                <h2 class=" title-small"><a href="#">Syria war: Why the battle for Aleppo matters</a></h2>
            </div>
            <p class="card-text"><small class="text-time"><em>3 mins ago</em></small></p>
          </div>
              </div>

        <div class="row">
              
        <div class="card"> <img class="img-fluid" src="http://grafreez.com/wp-content/temp_demos/river/img/travel.jpg" alt="">
                <div class="card-img-overlay"> <span class="badge badge-pill badge-danger">Politics</span> </div>
                <div class="card-body">
            <div class="news-title">
                    <h2 class=" title-small"><a href="#">Key Republicans sign letter warning against</a></h2>
                  </div>
            <p class="card-text"><small class="text-time"><em>3 mins ago</em></small></p>
          </div>
          </div>
      </div>
      <%# </div> %>
  

    <% @games.each do |game| %>
      <tr>
        <td><%= game.user.username %></td>
        <td><%= image_tag game.image.thumb.url if game.image? %></td>
        <td><%= game.genre %></td>
        <td>$ <%= game.price %></td>
        <td><%= game.title %></td>
        <td><%= game.location %></td>
        <td><%= game.created_at.strftime("%d %b, %Y") %></td>
        <td><%= link_to 'Show', game %></td>
        <% if game.user == current_user %>
          <td><%= link_to 'Edit', edit_game_path(game) %></td>
          <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if @games.blank? %>
  <p>There is no games containing <%= params[:search] %>.</p>
<% end %>

<%= link_to 'List your GAME', new_game_path %>
