<%= image_tag @game.image.url %>

<p>
  <strong>Posted by:</strong>
  <%= @game.user.username %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @game.genre %>
</p>

<p>
  <strong>Price:</strong>
  <%= @game.price %>
</p>

<p>
  <strong>Title:</strong>
  <%= @game.title %>
</p>

<p>
  <strong>Location:</strong>
  <%= @game.location %>
</p>

<p>
  <strong>Date listed:</strong>
  <%= @game.date_listed %>
</p>

<hr>
<p>
  <strong>Description:</strong> </br>
  <%= @game.description %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
