<!DOCTYPE html>
<html>
  <head>
    <title>GameOut</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <%= render 'layouts/headernav' %>
  <%# if errors? do %>
    <%# <div class="alert alert-danger" role="alert"> %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <%# </div> %>
  <%# end %>

    <div class="container">
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>
  </body>
</html>
