<!DOCTYPE html>
<html>
  <head>
    <title>GameOut</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <h1> Header Section </h1>
  <p id="notice"><%= notice %></p>

    <%= yield %>
  <h1> Footer Section </h1>
  </body>
</html>
