<!DOCTYPE html>
<html>
  <head>
    <title>GameOut</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <link href="https://fonts.googleapis.com/css?family=Maven+Pro|Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <body>
  <%= render 'layouts/headernav' %>

      <% if flash[:notice].present? %>

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <p><%= flash[:notice] %></p>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

      <% elsif flash[:alert].present?%>

        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <p><%= flash[:alert] %></p>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        
    <% end %>


    <div class="container yield">
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>
  </body>
</html>
